{
  "openapi": "3.1.0",
  "info": {
    "title": "Sigilum API",
    "description": "Agent identity and authorization registry. Manages namespaces, claims, verification, DID resolution, webhooks, and dashboard authentication.",
    "version": "0.1.0",
    "contact": {
      "name": "Sigilum",
      "url": "https://sigilum.id"
    }
  },
  "servers": [
    {
      "url": "https://api.sigilum.id",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check endpoints"
    },
    {
      "name": "Namespaces",
      "description": "Namespace resolution and claim listing"
    },
    {
      "name": "Claims",
      "description": "Submit and manage authorization claims"
    },
    {
      "name": "Verify",
      "description": "Verify agent authorization"
    },
    {
      "name": "DID",
      "description": "DID document resolution"
    },
    {
      "name": "Auth",
      "description": "Dashboard authentication and account management"
    },
    {
      "name": "Services",
      "description": "Service management, API keys, and service webhooks"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Returns health status with current timestamp.",
        "responses": {
          "200": {
            "description": "Health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "timestamp"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/namespaces/claims": {
      "get": {
        "operationId": "listApprovedServiceClaims",
        "tags": [
          "Namespaces"
        ],
        "summary": "List approved claims for authenticated service",
        "description": "Returns approved claims for the service tied to the provided API key.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Must match the authenticated service slug when provided"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2000,
              "default": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approved claims",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovedNamespaceClaimsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/namespaces/{namespace}": {
      "get": {
        "operationId": "getNamespace",
        "tags": [
          "Namespaces"
        ],
        "summary": "Resolve namespace",
        "description": "Resolve a namespace to its current metadata and active approved claim count.",
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 64
            },
            "description": "Namespace identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/namespaces/{namespace}/claims": {
      "get": {
        "operationId": "getNamespaceClaims",
        "tags": [
          "Namespaces"
        ],
        "summary": "Get claims for namespace",
        "description": "List claims for a namespace with optional status/service filtering.",
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 64
            },
            "description": "Namespace identifier"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ClaimStatus"
            },
            "description": "Filter by claim status"
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by service slug"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claims",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceClaimsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/claims": {
      "post": {
        "operationId": "submitClaim",
        "tags": [
          "Claims"
        ],
        "summary": "Submit claim",
        "description": "Submit an authorization request on behalf of an agent. Requires a service API key.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitClaimRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing pending or approved claim",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitClaimResult"
                }
              }
            }
          },
          "201": {
            "description": "Claim created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitClaimResult"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/claims/{claimId}": {
      "get": {
        "operationId": "getClaim",
        "tags": [
          "Claims"
        ],
        "summary": "Get claim",
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Claim ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Claim",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized for this namespace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieve details for a specific claim by ID. Requires namespace-owner authentication.",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/claims/{claimId}/approve": {
      "post": {
        "operationId": "approveClaim",
        "tags": [
          "Claims"
        ],
        "summary": "Approve pending claim",
        "description": "Approve a pending claim in your namespace.",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claim approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveClaimResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/claims/{claimId}/reject": {
      "post": {
        "operationId": "rejectClaim",
        "tags": [
          "Claims"
        ],
        "summary": "Reject pending claim",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claim rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimActionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/claims/{claimId}/revoke": {
      "post": {
        "operationId": "revokeClaim",
        "tags": [
          "Claims"
        ],
        "summary": "Revoke approved claim",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claim revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimRevokeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify": {
      "get": {
        "operationId": "verifyAgent",
        "tags": [
          "Verify"
        ],
        "summary": "Verify agent authorization",
        "description": "Check whether a public key is currently approved for a service/namespace pair.",
        "parameters": [
          {
            "name": "namespace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/did/{did}": {
      "get": {
        "operationId": "resolveDID",
        "tags": [
          "DID"
        ],
        "summary": "Resolve DID document",
        "description": "Resolve a `did:sigilum:<namespace>` DID to a DID document.",
        "parameters": [
          {
            "name": "did",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^did:sigilum:.+"
            },
            "description": "DID value"
          }
        ],
        "responses": {
          "200": {
            "description": "DID document",
            "content": {
              "application/did+json": {
                "schema": {
                  "$ref": "#/components/schemas/DIDDocument"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DIDDocument"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/signup/options": {
      "get": {
        "operationId": "authSignupOptions",
        "tags": [
          "Auth"
        ],
        "summary": "Get signup WebAuthn options",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "namespace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "WebAuthn registration options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthnOptions"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/signup": {
      "post": {
        "operationId": "authSignup",
        "tags": [
          "Auth"
        ],
        "summary": "Create account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/login/options": {
      "get": {
        "operationId": "authLoginOptions",
        "tags": [
          "Auth"
        ],
        "summary": "Get login WebAuthn options",
        "responses": {
          "200": {
            "description": "WebAuthn authentication options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthnOptions"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "operationId": "authLogin",
        "tags": [
          "Auth"
        ],
        "summary": "Login with passkey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/me": {
      "get": {
        "operationId": "authMe",
        "tags": [
          "Auth"
        ],
        "summary": "Get current user",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/passkeys": {
      "post": {
        "operationId": "authAddPasskey",
        "tags": [
          "Auth"
        ],
        "summary": "Add passkey",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPasskeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Passkey added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasskeyCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "authListPasskeys",
        "tags": [
          "Auth"
        ],
        "summary": "List passkeys",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Passkey list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasskeyListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/passkeys/{id}": {
      "patch": {
        "operationId": "authRenamePasskey",
        "tags": [
          "Auth"
        ],
        "summary": "Rename passkey",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasskeyRenameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey renamed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasskeyRenameResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "authDeletePasskey",
        "tags": [
          "Auth"
        ],
        "summary": "Delete passkey",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Passkey deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/settings": {
      "patch": {
        "operationId": "authUpdateSettings",
        "tags": [
          "Auth"
        ],
        "summary": "Update account settings",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingsUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingsUpdateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/account": {
      "delete": {
        "operationId": "authDeleteAccount",
        "tags": [
          "Auth"
        ],
        "summary": "Delete account",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "operationId": "authLogout",
        "tags": [
          "Auth"
        ],
        "summary": "Logout",
        "description": "Clears auth cookie and returns success.",
        "responses": {
          "200": {
            "description": "Logged out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleSuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/services": {
      "get": {
        "operationId": "listServices",
        "tags": [
          "Services"
        ],
        "summary": "List services",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Services",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createService",
        "tags": [
          "Services"
        ],
        "summary": "Create service",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Service created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/services/{serviceId}": {
      "get": {
        "operationId": "getService",
        "tags": [
          "Services"
        ],
        "summary": "Get service",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceDetails"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateService",
        "tags": [
          "Services"
        ],
        "summary": "Update service",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteService",
        "tags": [
          "Services"
        ],
        "summary": "Delete service",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/services/{serviceId}/keys": {
      "get": {
        "operationId": "listServiceApiKeys",
        "tags": [
          "Services"
        ],
        "summary": "List service API keys",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createServiceApiKey",
        "tags": [
          "Services"
        ],
        "summary": "Create service API key",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/services/{serviceId}/keys/{keyId}": {
      "delete": {
        "operationId": "revokeServiceApiKey",
        "tags": [
          "Services"
        ],
        "summary": "Revoke service API key",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/services/{serviceId}/webhooks": {
      "get": {
        "operationId": "listServiceWebhooks",
        "tags": [
          "Services"
        ],
        "summary": "List service webhooks",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service webhook list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createServiceWebhook",
        "tags": [
          "Services"
        ],
        "summary": "Create service webhook",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Service webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/services/{serviceId}/webhooks/{webhookId}": {
      "delete": {
        "operationId": "deleteServiceWebhook",
        "tags": [
          "Services"
        ],
        "summary": "Delete service webhook",
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Service API key (sk_live_...) or dashboard JWT"
      },
      "CookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sigilum_token",
        "description": "Dashboard auth cookie"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "details": {}
        }
      },
      "Pagination": {
        "type": "object",
        "required": [
          "limit",
          "offset",
          "total",
          "has_more"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 0
          },
          "offset": {
            "type": "integer",
            "minimum": 0
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "ClaimStatus": {
        "type": "string",
        "enum": [
          "pending",
          "approved",
          "revoked",
          "rejected",
          "expired"
        ]
      },
      "NamespaceResponse": {
        "type": "object",
        "required": [
          "did",
          "namespace",
          "owner",
          "created_at",
          "active",
          "active_claims"
        ],
        "properties": {
          "did": {
            "type": "string",
            "example": "did:sigilum:acme-corp"
          },
          "namespace": {
            "type": "string",
            "example": "acme-corp"
          },
          "owner": {
            "type": "string",
            "description": "Namespace owner user ID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "active": {
            "type": "boolean"
          },
          "active_claims": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "ClaimResponse": {
        "type": "object",
        "required": [
          "claim_id",
          "namespace",
          "service",
          "public_key",
          "agent_ip",
          "status",
          "created_at"
        ],
        "properties": {
          "claim_id": {
            "type": "string"
          },
          "namespace": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "agent_ip": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ClaimStatus"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "approved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "approval_tx_hash": {
            "type": [
              "string",
              "null"
            ]
          },
          "revocation_tx_hash": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "NamespaceClaimsResponse": {
        "type": "object",
        "required": [
          "claims",
          "pagination"
        ],
        "properties": {
          "claims": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaimResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "ApprovedNamespaceClaim": {
        "type": "object",
        "required": [
          "claim_id",
          "namespace",
          "public_key",
          "service",
          "approved_at"
        ],
        "properties": {
          "claim_id": {
            "type": "string"
          },
          "namespace": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "approved_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApprovedNamespaceClaimsResponse": {
        "type": "object",
        "required": [
          "claims",
          "pagination"
        ],
        "properties": {
          "claims": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApprovedNamespaceClaim"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "required": [
          "authorized"
        ],
        "properties": {
          "authorized": {
            "type": "boolean"
          },
          "claim_id": {
            "type": "string"
          },
          "approved_at": {
            "type": "string",
            "format": "date-time"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "SubmitClaimRequest": {
        "type": "object",
        "required": [
          "namespace",
          "public_key",
          "service",
          "agent_ip",
          "nonce"
        ],
        "properties": {
          "namespace": {
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          "public_key": {
            "type": "string"
          },
          "service": {
            "type": "string",
            "minLength": 1
          },
          "agent_ip": {
            "type": "string"
          },
          "nonce": {
            "type": "string",
            "minLength": 8,
            "maxLength": 256
          }
        }
      },
      "SubmitClaimResult": {
        "type": "object",
        "required": [
          "claim_id",
          "status",
          "service",
          "message"
        ],
        "properties": {
          "claim_id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ClaimStatus"
          },
          "service": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ApproveClaimResponse": {
        "type": "object",
        "required": [
          "claim_id",
          "status",
          "agents_approved",
          "agents_limit",
          "blockchain_tx_status"
        ],
        "properties": {
          "claim_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "approved"
            ]
          },
          "agents_approved": {
            "type": "integer",
            "minimum": 0
          },
          "agents_limit": {
            "type": "integer",
            "minimum": 0
          },
          "blockchain_tx_status": {
            "type": "string",
            "enum": [
              "queued"
            ]
          }
        }
      },
      "ClaimActionResponse": {
        "type": "object",
        "required": [
          "claim_id",
          "status"
        ],
        "properties": {
          "claim_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "rejected"
            ]
          }
        }
      },
      "ClaimRevokeResponse": {
        "type": "object",
        "required": [
          "claim_id",
          "status",
          "blockchain_tx_status"
        ],
        "properties": {
          "claim_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "revoked"
            ]
          },
          "blockchain_tx_status": {
            "type": "string",
            "enum": [
              "queued"
            ]
          }
        }
      },
      "DIDDocument": {
        "type": "object",
        "required": [
          "@context",
          "id",
          "controller",
          "created",
          "updated",
          "verificationMethod"
        ],
        "properties": {
          "@context": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string",
            "example": "did:sigilum:acme-corp"
          },
          "controller": {
            "type": "string",
            "description": "DID controller"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "verificationMethod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationMethod"
            }
          }
        }
      },
      "VerificationMethod": {
        "type": "object",
        "required": [
          "id",
          "type",
          "publicKeyBase64",
          "service",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "Ed25519VerificationKey2020"
            ]
          },
          "publicKeyBase64": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "WebhookEvent": {
        "type": "string",
        "enum": [
          "request.submitted",
          "request.approved",
          "request.revoked",
          "request.rejected",
          "request.expired"
        ]
      },
      "CreateWebhookRequest": {
        "type": "object",
        "required": [
          "url",
          "events",
          "secret"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "secret": {
            "type": "string",
            "minLength": 16
          }
        }
      },
      "CreateServiceWebhookRequest": {
        "type": "object",
        "required": [
          "url",
          "events",
          "secret"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            },
            "description": "Typically request.submitted/request.approved/request.revoked/request.rejected/request.expired"
          },
          "secret": {
            "type": "string",
            "minLength": 16
          },
          "auth_header": {
            "type": "string",
            "maxLength": 128
          },
          "auth_value": {
            "type": "string",
            "maxLength": 2048
          }
        }
      },
      "WebhookResponse": {
        "type": "object",
        "required": [
          "id",
          "url",
          "events",
          "active"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "active": {
            "type": "boolean"
          },
          "failure_count": {
            "type": "integer",
            "minimum": 0
          },
          "last_triggered_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_failure_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookListResponse": {
        "type": "object",
        "required": [
          "webhooks",
          "pagination"
        ],
        "properties": {
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "DeleteWebhookResponse": {
        "type": "object",
        "required": [
          "success",
          "deleted",
          "webhook_id"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "deleted": {
            "type": "boolean"
          },
          "webhook_id": {
            "type": "string"
          }
        }
      },
      "PublicKeyCredentialRegistration": {
        "type": "object",
        "required": [
          "id",
          "rawId",
          "type",
          "response"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "rawId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "public-key"
            ]
          },
          "response": {
            "type": "object",
            "required": [
              "attestationObject",
              "clientDataJSON"
            ],
            "properties": {
              "attestationObject": {
                "type": "string"
              },
              "clientDataJSON": {
                "type": "string"
              }
            }
          }
        }
      },
      "PublicKeyCredentialAuthentication": {
        "type": "object",
        "required": [
          "id",
          "rawId",
          "type",
          "response"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "rawId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "public-key"
            ]
          },
          "response": {
            "type": "object",
            "required": [
              "authenticatorData",
              "clientDataJSON",
              "signature"
            ],
            "properties": {
              "authenticatorData": {
                "type": "string"
              },
              "clientDataJSON": {
                "type": "string"
              },
              "signature": {
                "type": "string"
              },
              "userHandle": {
                "type": "string"
              }
            }
          }
        }
      },
      "SignupRequest": {
        "type": "object",
        "required": [
          "email",
          "namespace",
          "credential"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "namespace": {
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          "passkeyName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "credential": {
            "$ref": "#/components/schemas/PublicKeyCredentialRegistration"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "credential"
        ],
        "properties": {
          "credential": {
            "$ref": "#/components/schemas/PublicKeyCredentialAuthentication"
          }
        }
      },
      "AddPasskeyRequest": {
        "type": "object",
        "required": [
          "credential"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "credential": {
            "$ref": "#/components/schemas/PublicKeyCredentialRegistration"
          }
        }
      },
      "WebAuthnOptions": {
        "type": "object",
        "required": [
          "challenge"
        ],
        "properties": {
          "challenge": {
            "type": "string"
          }
        },
        "additionalProperties": true,
        "description": "SimpleWebAuthn-generated options object"
      },
      "PasskeySummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "device_type",
          "backed_up",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "device_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "backed_up": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PasskeyListResponse": {
        "type": "object",
        "required": [
          "passkeys",
          "pagination"
        ],
        "properties": {
          "passkeys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PasskeySummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "required": [
          "id",
          "email",
          "namespace",
          "settings",
          "registration_tx_hash",
          "created_at",
          "updated_at",
          "passkeys"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "namespace": {
            "type": "string"
          },
          "settings": {
            "type": "object",
            "additionalProperties": true
          },
          "registration_tx_hash": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "passkeys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PasskeySummary"
            }
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "required": [
          "user",
          "token"
        ],
        "properties": {
          "user": {
            "$ref": "#/components/schemas/UserProfile"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "PasskeyCreateResponse": {
        "type": "object",
        "required": [
          "success",
          "id",
          "name"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "PasskeyRenameRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        }
      },
      "PasskeyRenameResponse": {
        "type": "object",
        "required": [
          "success",
          "name"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "SettingsUpdateRequest": {
        "type": "object",
        "additionalProperties": true
      },
      "SettingsUpdateResponse": {
        "type": "object",
        "required": [
          "success",
          "settings"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "settings": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "DeleteAccountResponse": {
        "type": "object",
        "required": [
          "success",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SimpleSuccessResponse": {
        "type": "object",
        "required": [
          "success"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "ServiceWebhookBootstrap": {
        "type": "object",
        "required": [
          "url",
          "secret"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048
          },
          "secret": {
            "type": "string",
            "minLength": 16
          },
          "auth_header": {
            "type": "string",
            "maxLength": 128
          },
          "auth_value": {
            "type": "string",
            "maxLength": 2048
          }
        }
      },
      "CreateServiceRequest": {
        "type": "object",
        "required": [
          "name",
          "slug",
          "domain",
          "description"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "slug": {
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-z0-9][a-z0-9-]{1,62}[a-z0-9]$"
          },
          "domain": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "webhook": {
            "$ref": "#/components/schemas/ServiceWebhookBootstrap"
          }
        }
      },
      "ServiceSummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "slug",
          "domain",
          "description",
          "created_at",
          "updated_at",
          "registration_tx_hash",
          "active_key_count"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "domain": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "registration_tx_hash": {
            "type": [
              "string",
              "null"
            ]
          },
          "active_key_count": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "ServiceListResponse": {
        "type": "object",
        "required": [
          "services"
        ],
        "properties": {
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceSummary"
            }
          }
        }
      },
      "CreateServiceResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "slug",
          "domain",
          "description",
          "created_at",
          "registration_tx_hash"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "registration_tx_hash": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhook": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "id",
              "url",
              "events"
            ]
          }
        }
      },
      "ServiceDetails": {
        "type": "object",
        "required": [
          "id",
          "owner_user_id",
          "name",
          "slug",
          "domain",
          "description",
          "created_at",
          "updated_at",
          "registration_tx_hash"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "owner_user_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "domain": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "registration_tx_hash": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "UpdateServiceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ServiceApiKeySummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "key_prefix",
          "last_used_at",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApiKeyListResponse": {
        "type": "object",
        "required": [
          "keys",
          "pagination"
        ],
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceApiKeySummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreateApiKeyResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "key",
          "key_prefix",
          "message"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
